@charset "UTF-8";
html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Noto Sans TC", sans-serif;
}

header .navbar {
  position: fixed;
  top: -100px;
  /* 隱藏導覽列在最上方之外 */
  width: 100%;
  background-color: #090c17;
  padding: 20px 0;
  transition: top 0.3s;
  z-index: 10;
  display: flex;
  justify-content: center;
}
header .navbar .format {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .format > .title {
  font-size: 28pt;
  color: #fff;
  text-decoration: none;
}
header .navbar .format > .link {
  display: flex;
  gap: 30px;
}
header .navbar .format > .link a {
  color: #fff;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #090c17;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .footerFormat {
  width: 80%;
  display: flex;
  justify-content: center;
}
footer > .footerFormat > .footerName {
  width: 20%;
  color: #fff;
  font-size: 16pt;
}
footer > .footerFormat > .goTopBtn {
  width: 60%;
  display: flex;
  justify-content: center;
}
footer > .footerFormat > .goTopBtn > #gotop {
  z-index: 90;
  width: 50px;
  height: 50px;
  line-height: 35px;
  border-radius: 50%;
  transition: all 0.5s;
  text-align: center;
}
footer > .footerFormat > .goTopBtn > #gotop > img {
  width: 50%;
}
footer > .footerFormat > .goTopBtn > #gotop:hover {
  transform: translateY(-10px);
}
footer > .footerFormat > .copyright {
  width: 20%;
  color: #fff;
  font-size: 16pt;
  text-align: right;
}

.banner > #hero {
  width: 100%;
  height: 80vh;
  background: url("../img/bg-01-01.png") top center;
  /* background-color: #385243ab; */
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #222;
}
.banner > #hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.247);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.banner > #hero > .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}
.banner > #hero > .hero-container > .logo {
  margin-left: 5em;
}
.banner > #hero > .hero-container > .logo > img {
  width: 50%;
  height: auto;
}
.banner > #hero > .hero-container > .info {
  padding-right: 5em;
  white-space: nowrap;
  text-align: left;
}
.banner > #hero > .hero-container > .info > h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.banner > #hero > .hero-container > .info > h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
  text-shadow: 0 0 10px #fff;
  line-height: 1px;
}
.banner > #hero > .hero-container > .info > p {
  color: #fff;
}
.banner > #hero > .hero-container > .info > a {
  margin-top: 1rem;
}
.banner > #hero > .hero-container > .info > .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  border: 2px solid #4eb478;
  color: #fff;
  text-decoration: none;
}
.banner > #hero > .hero-container > .info > .btn-get-started:hover {
  background: #4eb478;
  border: 2px solid #4eb478;
}

.pageTitle {
  padding: 60px 0;
}
.pageTitle > .title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.pageTitle > .title > h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4eb478;
  position: relative;
  z-index: 2;
}
.pageTitle > .title > span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.contactUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
.contactUs > .format {
  width: 80%;
  display: flex;
  justify-content: center;
}
.contactUs > .format > .followBtn {
  text-decoration: none;
  color: black;
  padding: 1rem 3rem;
  border: 1px solid #4eb478;
  transition: all 0.5s ease-in-out;
}
.contactUs > .format > .followBtn:hover {
  background-color: #4eb478;
  color: white;
}

.index > section > .format {
  width: 80%;
}
.index > .indexTitle {
  padding: 60px 0;
}
.index > .indexTitle > .title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.index > .indexTitle > .title > h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4eb478;
  position: relative;
  z-index: 2;
}
.index > .indexTitle > .title > span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.index > .sort {
  width: 100%;
  display: flex;
  justify-content: center;
}
.index > .sort > .format {
  display: flex;
  justify-content: space-around;
}
.index > .sort > .format > .line {
  height: 30rem;
  width: 3px;
  background-color: #4eb478;
  transform: rotate(30deg);
}
.index > .sort > .format > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5rem;
}
.index > .sort > .format > div > div {
  display: flex;
  justify-content: center;
  font-size: 20pt;
}
.index > .sort > .format > div > div > img {
  width: 25%;
}
.index > .LUXURIANCE {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.index > .LUXURIANCE > .format {
  display: flex;
  justify-content: center;
}
.index > .LUXURIANCE > .format > .info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.index > .LUXURIANCE > .format > .info > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
  line-height: 10rem;
  transition: all 0.2s ease-in-out;
  border: 0.5px solid transparent;
}
.index > .LUXURIANCE > .format > .info > div:hover {
  box-shadow: 5px 8px 28px rgba(23, 23, 36, 0.1);
}
.index > .LUXURIANCE > .format > .info > div > .title {
  font-size: 32pt;
  font-weight: 600;
}
.index > .LUXURIANCE > .format > .info > div > .line {
  width: 100%;
  height: 1px;
  background-color: rgb(209, 209, 209);
}
.index > .LUXURIANCE > .format > .info > div > .text {
  font-size: 20pt;
}
.exhibition > .exhibitionTitle {
  padding: 60px 0;
}
.exhibition > .exhibitionTitle > .title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.exhibition > .exhibitionTitle > .title > h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4eb478;
  position: relative;
  z-index: 2;
}
.exhibition > .exhibitionTitle > .title > span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.exhibition > .exhibitionTitle > .bigTitle {
  text-align: center;
  position: relative;
}
.exhibition > .exhibitionTitle > .bigTitle > h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4eb478;
  position: relative;
  z-index: 2;
}
.exhibition > .exhibitionTitle > .bigTitle > span {
  position: absolute;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.exhibition > .fairInOut {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.exhibition > .fairInOut > .format {
  width: 80%;
  display: flex;
  gap: 30px;
}
.exhibition > .fairInOut > .format > .aboutImg {
  width: 40%;
}
.exhibition > .fairInOut > .format > .aboutImg > img {
  width: 90%;
}
.exhibition > .fairInOut > .format > .aboutText {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.exhibition > .fairInOut > .format > .aboutText > h3 {
  font-weight: 700;
  font-size: 34px;
}
.exhibition > .fairInOut > .format > .aboutText > .aboutInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.exhibition > .fairInOut > .format > .aboutText > .aboutInfo > .aboutPlace {
  display: flex;
  gap: 30px;
}
.exhibition > .fairInOut > .format > .aboutText > .aboutInfo > .aboutPlace > .aboutIcon > svg {
  color: #4eb478;
}
.exhibition > .fairInOut > .format > .aboutText > .aboutInfo > .aboutTime {
  display: flex;
  gap: 30px;
}
.exhibition > .fairInOut > .format > .aboutText > .aboutInfo > .aboutTime > .aboutIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.exhibition > .fairInOut > .format > .aboutText > .aboutInfo > .aboutTime > .aboutIcon > svg {
  color: #4eb478;
}
.exhibition > .fairIn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.exhibition > .fairIn > .format {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.exhibition > .fairIn > .format > .FairIncard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exhibition > .fairIn > .format > .FairIncard > img {
  width: 100%;
  border-radius: 5px;
}
.exhibition > .map {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.groupInformation > .search {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
.groupInformation > .search > .searchlist {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.groupInformation > .search > .searchlist > .searchBtn {
  width: 50%;
}
.groupInformation > .search > .searchlist > .searchBtn > .searchbutton {
  width: 15%;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.groupInformation > .search > .searchlist > .searchBtn > .searchbutton:hover {
  background-color: #ffffff;
  color: black;
}
.groupInformation > .search > .searchlist > .searchBtn > .searchbuttonText {
  font-size: 12pt;
  color: white;
}
.groupInformation > .search > .searchlist > .searchInput {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.groupInformation > .search > .searchlist > .searchInput > input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}
.groupInformation > .search > .searchlist > .searchInput > button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.groupInformation > .groupInformationTitle {
  padding-top: 60px;
}
.groupInformation > .groupInformationTitle > .title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.groupInformation > .groupInformationTitle > .title > h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4eb478;
  position: relative;
  z-index: 2;
}
.groupInformation > .groupInformationTitle > .title > span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.groupInformation > .group {
  width: 100%;
  display: flex;
  justify-content: center;
}
.groupInformation > .group > .groupBtn {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.groupInformation > .group > .groupBtn > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.groupInformation > .group > .groupBtn > div > div {
  width: 33.33% !important;
}

.aboutUs > .about {
  width: 100%;
  display: flex;
  justify-content: center;
}
.aboutUs > .about > .format {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aboutUs > .about > .format > .title {
  font-size: 24pt;
  font-weight: 600;
  position: relative;
}
.aboutUs > .about > .format > .content {
  padding-top: 3rem;
  font-size: 18pt;
}
.aboutUs > .about > .format > .content > p {
  font-family: aktiv-grotesk-extended, "Noto Sans TC", "Pingfang TC", 微軟正黑體, "Microsoft JhengHei", sans-serif;
}
.aboutUs > .about > .format > .content > p:nth-child(1) {
  line-height: 60px;
}
.aboutUs > .about > .format > .content > p:nth-child(2) {
  width: 85%;
  text-align: right;
  font-size: 80px;
  font-weight: 400;
  color: #4eb478;
  padding-top: 3rem;
}
.aboutUs > .contactUs {
  padding: 80px 0;
}/*# sourceMappingURL=style.css.map */